  <div class="form-group row margin-top-20">
    <label for="autocomplete" class="col-sm-2 col-form-label" style="color: white;">Search Location</label>
    <div class="col-sm-8">
		<input type="text" class="form-control center" id="autocomplete"/>
    </div>
  </div>
