  <div class="form-group row margin-top-20">
    <label for="autocomplete" class="col-sm-3 col-form-label">Search for a location</label>
    <div class="col-sm-9">
		<input type="text" class="form-control center" id="autocomplete"/>
    </div>
  </div>
